input {
  width: 50px;
  text-align: center;
  background: transparent;
  border: none;

  &.input-field {
    width: 80px;
  }
}

input[class="days"] {
  width: 100%;
}

input[id="reistestrecke"] {

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
  }
}

body {
  .theme-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1030;
  }

  .header {
    text-align: center;
    font-size: large;
  }

  .strecke {
    grid-area: strecke;
  }

  .reistestrecke {
    grid-area: reistestrecke;
  }
  .disabledinput {
    display: block;
    padding: .375rem 0;
    margin-bottom: 0;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: transparent;
    border: solid transparent;
    border-width: var(--bs-border-width) 0;
  }
}
